@import "../../styles/variables.scss";

.AddressList {
  padding: 20px 20px 0;

  .ListContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .TitleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .AddAddress {
    background-color: $addAddressBtnBackground;
    outline: none;
    color: $addAddressBtn;
    cursor: pointer;
    border: none;
    height: 40px;
    border-radius: 3px;
    width: 150px;
  }

  .Title {
    margin: 0;
  }

  .Error {
    color: $errorColor;
  }
}
