$tiber: #07242d;
$chathamsBlue: #183278;
$lightBlue: #08b1d5;
$red: #ff445f;
$white: #ffffff;
$silver: #cccccc;
$gallery: #eeeeee;
$christi: #5c9210;
$sweetPink: #fda49a;
$transparent: transparent;

//background colors
$headerBackground: $tiber;
$footerBackground: $tiber;
$sideBackground: $chathamsBlue;
$addressTitleBackground: $lightBlue;
$addAddressBtnBackground: $lightBlue;

//font colors
$headerTitle: $white;
$footerTitle: $white;
$sidebarTitle: $white;
$addressCardTitle: $white;
$addAddressBtn: $white;
$editAddressBtn: $lightBlue;
$deleteAddressBtn: $red;
$errorColor: $red;
$navItemColor: $white;
$navItemHoverColor: $lightBlue;

// box shadow colors
$cardShadow: $silver;
